@font-face {
    font-family: arciform;
    src: url('../fonts/Arciform.otf');
}


html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f5f9;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
}

#app {
    background-color: #f2f5f9;
    height: 100vh;
}

@media (max-width: 414px)
{
  
  h1 {
      font-size: 28px;
      color: #4d4d4d;
  }

  h2 {
      font-size: 20px;
      line-height: 18px;
  }

  .name h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 0 !important;
  }

  .info p {
      font-size: 14px;
  }

  .title p {
    font-family: arciform;
    font-size: 16px;
    line-height: 18px;
  }

  .description p, .date p, .modality p, .duration p {
      font-size: 12px;
      line-height: 14px;
      font-style: italic;
      margin-bottom: 10px;
  }

  .date p, .modality p, .duration p {
      font-style: normal;
      margin-bottom: 0;
  }

  .localization img {
      width: 13px !important;
      height: 13px;
      margin-right: 2px;
  }

  .localization p {
      font-family: arciform;
      color: #4d4d4d;
      font-size: 12px;
      margin-bottom: 8px;
  }

  .item img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
  }

  .bottom-legend hr {
      margin-top: 8px;
      width: 35%;
  }

  .students-mentoring {
      min-height: 100vh;
  }

    h1 {
        font-size: 28px;
        color: #4d4d4d;
    }

    h2 {
        font-size: 20px !important;
        line-height: 18px;
    }

    .name h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 0 !important;
    }

    .info p {
        font-size: 14px;
    }

    .title p {
        font-family: arciform;
        font-size: 16px;
        line-height: 18px;
    }

    .description p, .date p, .modality p, .duration p {
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        margin-bottom: 10px;
    }

    .date p, .modality p, .duration p {
        font-style: normal;
        margin-bottom: 0;
    }

    .localization img {
        width: 13px !important;
        height: 13px !important;

        margin-right: 2px;
    }

    .localization p {
        font-family: arciform;
        color: #4d4d4d;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .item img {
        width: 100%;
        height: 145px;
        object-fit: cover;
        border-radius: 10px;
    }

    .pd {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .bottom-legend hr {
        margin-top: 8px;
        width: 35%;
    }

    .students-mentoring {
        min-height: 100vh;
    }

    .students-courses .description p {
        width: 100%;      
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 10px;
    }

    .side-item {
        border: 1px solid rgba(0,0,0,.125);
        border-left: 12px solid #3C1F8D;
        border-radius: 10px;
        padding: 12px;
    }
}

a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: hsl(0, 0%, 50%);
}

p {
    color: hsl(0, 0%, 60%);
}

h1, h2, h3, h4, h5 {
    font-family: arciform;
}

h1 {
    font-size: 36px;
    color: #4d4d4d;
}

h2 {
    font-size: 26px;
    color: #4d4d4d;
}

.name h3 {
    font-size: 20px;
    color: hsl(0, 0%, 50%);
    font-weight: lighter;
}

.bg-gray {
    background-color: hsl(0, 0%, 80%);
}

.bg-yellow {
    background-color: #FFAD2D;
}

.bg-green {
    background-color: #46ad87 !important;
}

.green {
    color: #46ad87 !important;
}

.black {
    color: #4d4d4d;
}

.bg-purple {
    background-color: #3C1F8D !important;
}

.purple {
    color: #3C1F8D;
}

.bg-blue {
    background-color: #00ADFA !important;
}

.blue {
    color: #00ADFA !important;
}

.pd {
    padding-left: 50px;
    padding-right: 50px;
}

.pt {
    padding-top: 32px;
}

.pm {
    padding: 16px 16px;
}

.lh-min {
    line-height: 10px;
}

.mobile .navbar {
    padding: 16px 16px;
}

.navbar-dark {
    color: #fff !important;
    border: none !important;
}

.navbar .search-area {
    width: 300px;
    padding: 10px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar .search-area button {
    border: none;
    background-color: transparent;
}

.navbar .search-area button:focus {
    outline: none;
}

.navbar .search {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font: 0.9rem;
    padding-right: 15px;
}

.fa-search {
    font-size: 16px;
    color: #4d4d4d;
}

.companies-profile .item {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    background-color: #fff;
    padding: 32px 16px;
}

.side-item {
    border: 1px solid rgba(0,0,0,.125);
    border-left: 12px solid #00ADFA;
    border-radius: 10px;
    padding: 12px;
}

.side-item-blue {
    border-left-color: #00ADFA !important;
}

.companies-profile .item img {
    border-radius: 50%;
    width: 150px;
}

.companies-profile .about p{
    line-height: 20px;
}

.companies-profile .contact a {
    font-size: 14px !important;
    line-height: 16px;
}

.companies-profile .item {
    width: 30% !important;
}

.companies-profile .side-item h3 {
    font-size: 22px;
}

.companies-profile .side-item p {
    font-size: 12px;
    line-height: 16px;
}


.companies-profile .menu a {
    font-size: 22px;
    margin-right: 130px;
}

.companies-profile .menu .active {
    padding-bottom: 6px;
    border-bottom: 6px solid #00ADFA;
}

.btn {
    border-radius: 25px;
    color: #fff;
    padding: 4px 8px;
}

.btn-edit {
    width: 100px;
}

.btn-add {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
}

.side-infos {
    padding-top: 50px;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #00ADFA;
    background-color: transparent;
    margin-left: 40px;
}

.circle-area .description {
    width: 80%;
    margin-left: 20px;
}

.circle-area p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #00ADFA;
}

.circle p {
    font-size: 50px;
    color: #00ADFA;
}

.card .image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.student-data h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.student-data p {
    font-family: arciform;
    font-size: 14px;
    line-height: 16px;
}

h5 {
    font-size: 14px;
    margin: 0;
    padding: 2px 4px 4px;
}

.tag {
    width: 100px;
    border-radius: 16px;
    color: #fff;
    font-weight: bold;

}

.skills .tag {
    background-color: #00ADFA;
}

.spotlight .tag {
    background-color: #46ad87;
}

.free-courses p {
    font-family: arciform;
    font-size: 18px;
    font-weight: bold;
}

.swipeView {
    display: grid;
    grid-template-columns: repeat(20, 95%);
    will-change: transform;
    align-content: center;
    overflow-x: auto;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

#card-swipe {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    padding: 0 !important;
}

.course {
    scroll-snap-align: start;
}


.students-profile .topbar {
    height: 90px;
    background-color: #00ADFA;
    position: relative;
    display: block;
}

.students-profile .image {
    position: relative;
    top: 10px;
    margin: 0;
    overflow: hidden auto;
}

.students-profile .image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.students-profile .edit-icon {
    position: relative;
    bottom: 22px;
    left: 35px;
    margin: 0;
}

.students-profile .edit-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid #fff;
    background-color: #fff;
}

.students-profile .student-data {
    margin-top: -10px;
}

.students-profile .tag {
    width: auto;
    max-width: 150px;
    font-size: 12px;
    padding: 4px 16px !important;
}

.tag-sm {
    padding: 0 8px !important;
    border-radius: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.tag-sm {
    text-transform: uppercase;
}

.btn-link {
    color: hsl(0, 0%, 60%);
    font-size: 16px;
}

.accordion {
    margin-top: -15px;
}

.accordion h5 {
    font-family: 'Open Sans', sans-serif;
}

.accordion .card-body {
    padding-left: 30px;
}

.accordion .card-body .btn-add {
    width: 100%;
    border-radius: 6px !important;
}

.accordion .btn-link:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.languages img {
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: hsl(0, 0%, 95%);
}




